<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Confirmation</title>
</head>
<body>
    <p>Hello {{ nom }},</p>
    <p>Your order with reference number {{ commande.id }} has been confirmed and is ready to be shipped.</p>
    <p>Here are the details of your order:</p>
    <ul>
        {% for prod_commande in prod_commandes %}
            <li>{{ prod_commande.product_variant.product.nom }} - {{ prod_commande.quantite }} units</li>
        {% endfor %}
    </ul>
    <h4>Total : {{ commande.prix_total }}</h4>
    <p>If you have any questions or need further assistance, feel free to contact us.</p>
    <p>Thank you for shopping with us!</p>
    <p>Best regards,</p>
    <p>The QDP Team</p>
</body>
</html>

