{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="py-5 px-5 my-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    <div class="btn-group">
                        <a href="{% url 'custom_admin:infos_site' %}" class="optional-btn text-center w-100">
                          Infos site
                        </a>
                    </div>

                    <div class="btn-group dropend">
                        <a href="{% url 'custom_admin:members_all' %}" class="btn default-btn w-100">Members</a>
                        <button type="button" class="btn optional-btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropend</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'custom_admin:members_create' %}"> Create</a></li>
                        </ul>
                    </div>

                    <div class="btn-group dropend">
                        <a href="{% url 'custom_admin:avatars_all' %}" class="btn default-btn w-100">Avatars</a>
                        <button type="button" class="btn optional-btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropend</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'custom_admin:avatars_create' %}"> Create</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 px-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="default-btn">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock admincontent %}
