{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-start {% if member.role_id == 1 %}list-group-item-danger{% elif member.role_id == 3 %}list-group-item-info{% elif member.role_id == 4 %}list-group-item-secondary{% endif %}">
                    #{{ product.id }}
                    <img src="{% if 'https' in product.image_1.url %}{{ product.image_1 }}{% else %}{{ product.image_1.url }}{% endif %}" alt="" style="max-height: 100px" class="mx-3">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ product.nom }}</div>
                        <div>{{ product.categorie }} - {{ product.type }}</div>
                        <div>{{ product.variations.contenu }}</div>
                        <div>{{ product.prix }} €</div>
                        <div><dl><dt>Quantity :</dt><dd>{{ product.quantite_stock }}</dd></dl></div>
                    </div>
                    <div class="input-group justify-content-end w-50 align-self-center">
                        <a class="optional-btn"
                           href="{% url 'custom_admin:products_show' product.id %}"><i class="fa-solid fa-circle-info"></i></a>
                        <a class="optional-btn"
                           href="{% url 'custom_admin:products_update' product.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="default-btn"
                           href="{% url 'custom_admin:products_delete' product.id %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock admincontent %}