{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-4 g-3">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{% if 'https' in product.image_1.url %}{{ product.image_1 }}{% else %}{{ product.image_1.url }}{% endif %}"
                             alt=""
                             class="card-img-top">
                        <div class="card-body">
                            #{{ product.id }}
                            <h5 class="card-title">{{ product.nom }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bold">{{ product.marque_vendeur }} </li>
                            <li class="list-group-item">{{ product.categorie }}</li>
                            <li class="list-group-item">{{ product.type }}</li>
                            <li class="list-group-item">On sale : {{ product.promo }}</li>
                            <div class="card-body">
                                <div class="input-group justify-content-center align-self-center">
                                    <a class="optional-btn"
                                       href="{% url 'custom_admin:products_show' product.id %}"><i class="fa-solid fa-circle-info"></i></a>
                                    <a class="optional-btn"
                                       href="{% url 'custom_admin:products_update' product.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="default-btn"
                                       href="{% url 'custom_admin:products_delete' product.id %}"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock admincontent %}
