{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <dl>
            <div class="row row-cols-6 mb-4">
                <img src="{% if 'https' in product.image_1.url %}{{ product.image_1 }}{% else %}{{ product.image_1.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
                <img src="{% if 'https' in product.image_2.url %}{{ product.image_2 }}{% else %}{{ product.image_2.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
                <img src="{% if 'https' in product.image_3.url %}{{ product.image_3 }}{% else %}{{ product.image_3.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
                <img src="{% if 'https' in product.image_4.url %}{{ product.image_4 }}{% else %}{{ product.image_4.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
                <img src="{% if 'https' in product.image_5.url %}{{ product.image_5 }}{% else %}{{ product.image_5.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
                <img src="{% if 'https' in product.image_6.url %}{{ product.image_6 }}{% else %}{{ product.image_6.url }}{% endif %}"
                     alt=""
                     style="object-fit:contain">
            </div>
            <div>
                <dt>Name</dt>
                <dd>
                    {{ product.nom }}
                </dd>
            </div>
            <div>
                <dt>Variants</dt>
                <dl class="ms-2">
                    {% for variant in variants %}
                            <dt>{{ variant.contenu }}</dt>
                            <dd><u>Stock:</u> {{ variant.productvariant_set.first.quantite_stock }}</dd>
                            <dd><u>Price:</u> {{ variant.productvariant_set.first.prix }}</dd>
                            
                    {% endfor %}
                </dl>
            </div>
            <div>
                <dt>Vendor</dt>
                <dd>
                    {{ product.marque_vendeur }}
                </dd>
            </div>
            <div>
                <dt>Category</dt>
                <dd>
                    {{ product.categorie }}
                </dd>
            </div>
            <div>
                <dt>Type</dt>
                <dd>
                    {{ product.type }}
                </dd>
            </div>
            <div>
                <dt>Description</dt>
                <dd>
                    {{ product.description }}
                </dd>
            </div>
            <div>
                <dt>Ingredients</dt>
                <dd>
                    {{ product.ingredients }}
                </dd>
            </div>
            <div>
                <dt>Macros</dt>
                <dd>
                    {{ product.macronutriments }}
                </dd>
            </div>
            <div>
                <dt>In sale</dt>
                <dd>
                    {{ product.en_promo }}
                </dd>
            </div>
            {% if product.en_promo %}
                <div>
                    <dt>Sale name</dt>
                    <dd>
                        {{ product.nature_promo }}
                    </dd>
                </div>
                <div>
                    <dt>% sale</dt>
                    <dd>
                        {{ product.pourcentage_promo }}
                    </dd>
                </div>
            {% endif %}
            <div>
                <dt>Date added</dt>
                <dd>
                    {{ product.date_ajout_produit_db }}
                </dd>
            </div>
        </dl>
    </div>
{% endblock admincontent %}
