{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% for f in variant_forms %}
                <fieldset class="form-group border border-1 my-4 p-2">
                    {{ f }}
                    {% for qte_form in qte_forms %}
                        {% if qte_form.prefix == f.prefix %}
                            {{ qte_form.as_p }}
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <button type="submit" class="default-btn">Confirm</button>
        </form>
    </div>
{% endblock admincontent %}
