{% extends "base.html" %}
{% load static %}
{% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Links of CSS files -->
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/animate.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/flaticon.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/slick.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/meanmenu.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'shop/assets/css/rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/dark.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/responsive.css' %}">
    <title>QDP - Que d'la poudre</title>
    <link rel="icon"
          type="image/png"
          href="{% static 'shop/assets/img/favicon.png' %}">
    <script src="https://kit.fontawesome.com/508b7484b8.js" crossorigin="anonymous"></script>
    {% load bootstrap5 %}
{% endblock head %}
{% block content %}
    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Blog</h2>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Start Blog Area -->
    <section class="blog-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for blog in sliced_blogs %}
                            <div class="col-lg-6 col-md-6">
                                <div class="single-blog-post">
                                    <div class="post-image">
                                        <a href="{% url 'article' blog.id %}">
                                            <img src="{% if 'https' in blog.image_illustration.url %}{{ blog.image_illustration }}{% else %}{{ blog.image_illustration.url }}{% endif %}"
                                                 alt="image">
                                        </a>
                                        <div class="date">
                                            <span>{{ blog.date_post }}</span>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <span class="category">{{ blog.categorie.nom }}</span>
                                        <h3>
                                            <a href="{% url 'article' blog.id %}">{{ blog.titre }}</a>
                                        </h3>
                                        <a href="{% url 'article' blog.id %}" class="details-btn">Read Story</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pagination-area text-center">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}{% if cat_param %}&category_blog={{ cat_param }}{% endif %}{% if tag_param %}&tag={{ promo_param }}{% endif %}{% if filter_by_name %}&filter_by_name={{ filter_by_name }}{% endif %}"
                                       class="prev page-numbers"><i class='bx bx-chevron-left'></i></a>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <span class="page-numbers current" aria-current="page">{{ num }}</span>
                                    {% else %}
                                        <a href="?page={{ num }}{% if cat_param %}&category_blog={{ cat_param }}{% endif %}{% if tag_param %}&tag={{ promo_param }}{% endif %}{% if filter_by_name %}&filter_by_name={{ filter_by_name }}{% endif %}"
                                           class="page-numbers">{{ num }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}{% if cat_param %}&category_blog={{ cat_param }}{% endif %}{% if tag_param %}&tag={{ promo_param }}{% endif %}{% if filter_by_name %}&filter_by_name={{ filter_by_name }}{% endif %}"
                                       class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area">
                        {% if user.is_authenticated %}
                            <section class="widget">
                                <a href="{% url 'custom_admin:blogs_create' %}">
                                    <button class="default-btn"><i class="fa-solid fa-pen-nib me-1"></i> Write a blog post</button></a>
                            </section>
                        {% endif %}
                        <section class="widget widget_search">
                            <form class="search-form" method="get" action="{% url 'blog' %}">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search..." name="filter_by_name" {% if filter_by_name %}value={{ filter_by_name }}{% endif %}>
                                    <input type="hidden" name="category_blog" value="{{ cat_param }}">
                                    <input type="hidden" name="tag" value="{{ tag_param }}">
                                </label>
                                <button type="submit">
                                    <i class="bx bx-search-alt"></i>
                                </button>
                                {% if filter_by_name %}
                                    <a href="?category_blog={{ cat_param }}{% if tag_param %}{{ tag_param }}&tag={% endif %}"
                                       class="optional-btn mt-2">Reset</a>
                                {% endif %}
                            </form>
                        </section>
                        <section class="widget widget_xton_posts_thumb">
                            <h3 class="widget-title">Popular Posts</h3>
                            {% for p_blog in most_popular_blogs %}
                            <article class="item">
                                <a href="{% url 'article' p_blog.id %}" class="thumb">
                                    <img class="fullimage cover bg1" role="img" src="{% if 'https' in p_blog.image_illustration.url %}{{ p_blog.image_illustration }}{% else %}{{ p_blog.image_illustration.url }}{% endif %}" />
                                </a>
                                <div class="info">
                                    <span>{{ p_blog.date_post }} </span>
                                    <h4 class="title usmall">
                                        <a href="{% url 'article' p_blog.id %}">{{ p_blog.titre }} </a>
                                    </h4>
                                </div>
                                <div class="clear"></div>
                            </article>
                            {% endfor %}
                        </section>
                        <section class="widget widget_categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                {% for cat in cats_blog %}
                                    <li>
                                        <a href="?category_blog={{ cat.id }}{% if tag_param %}&tag={{ tag_param }}{% endif %}{% if filter_by_name %}&filter_by_name={{ filter_by_name }}{% endif %}">{{ cat.nom }} <span class="post-count">({{ cat.blogpost_set.count }})</span></a>
                                    </li>
                                {% endfor %}
                                {% if cat_param %}
                                    <a href="?tag={{ tag_param }}{% if filter_by_name %}{{ tag_param }}&filter_by_name={{ filter_by_name }}{% endif %}"
                                       class="optional-btn mt-2">Reset</a>
                                {% endif %}
                            </ul>
                        </section>
                        <section class="widget widget_tag_cloud">
                            <h3 class="widget-title">QDP Tags</h3>
                            <div class="tagcloud">
                                {% for tag in tags %}
                                    <a href="?tag={{ tag.id }}{% if cat_param %}&category_blog={{ cat_param }}{% endif %}{% if filter_by_name %}&filter_by_name={{ filter_by_name }}{% endif %}">{{ tag.nom }} <span class="tag-link-count">({{ tag.blogpost_set.count }})</span></a>
                                {% endfor %}
                            </div>
                            {% if tag_param %}
                                <a href="?category_blog={{ cat_param }}{% if filter_by_name %}{{ tag_param }}&filter_by_name={{ filter_by_name }}{% endif %}"
                                   class="optional-btn mt-2">Reset</a>
                            {% endif %}
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
    <!-- Start Facility Area -->
    <section class="facility-area pb-70">
        <div class="container">
            <div class="facility-slides owl-carousel owl-theme">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-tracking'></i>
                    </div>
                    <h3>Free Shipping Worldwide</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-return'></i>
                    </div>
                    <h3>Easy Return Policy</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-shuffle'></i>
                    </div>
                    <h3>7 Day Exchange Policy</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-sale'></i>
                    </div>
                    <h3>Weekend Discount Coupon</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-credit-card'></i>
                    </div>
                    <h3>Secure Payment Methods</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-location'></i>
                    </div>
                    <h3>Track Your Package</h3>
                </div>
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-customer-service'></i>
                    </div>
                    <h3>24/7 Customer Support</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- End Facility Area -->
    
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
{% endblock content %}
