{% extends "base.html" %}
{% load static %}

{% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="{% static 'shop/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/dark.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/responsive.css' %}">

    <title>QDP - Que d'la poudre</title>

    <link rel="icon" type="image/png" href="{% static 'shop/assets/img/favicon.png' %}">

    {% load bootstrap5 %}
{% endblock head %}

    {% block content %}

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Change My Password</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Change My Password</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Start Contact Area -->
        <section class="contact-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="contact-info">
                        <h3>Forgot My Password</h3>
                        <p>Reset your password.</p>
                        
                        <div class="row mt-5">
                                <h1>Password reset link sent</h1>
                                <p>A password reset link has been sent to your email address. Please check your inbox and follow the instructions to reset your password.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- End Contact Area -->

        <!-- Start Facility Area -->
        <section class="facility-area pt-100 pb-70">
            <div class="container">
                <div class="facility-slides owl-carousel owl-theme">
                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-tracking'></i>
                        </div>
                        <h3>Free Shipping Worldwide</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-return'></i>
                        </div>
                        <h3>Easy Return Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-shuffle'></i>
                        </div>
                        <h3>7 Day Exchange Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-sale'></i>
                        </div>
                        <h3>Weekend Discount Coupon</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-credit-card'></i>
                        </div>
                        <h3>Secure Payment Methods</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-location'></i>
                        </div>
                        <h3>Track Your Package</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-customer-service'></i>
                        </div>
                        <h3>24/7 Customer Support</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Facility Area -->



        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>


{% endblock content %}