{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <ul class="list-group list-group-horizontal mb-4">
            <a href="{% url 'custom_admin:extra_promo' %}">
                <li class="list-group-item list-group-item-primary">
                    <small>Extra promo</small>
                </li>
            </a>
        </ul>
        <ul class="list-group">
            {% for promo in promos %}
                <li class="list-group-item d-flex justify-content-between align-items-center {% if extra_promo.extra_promo_id == promo.id %}list-group-item-primary{% endif %}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ promo }}</div>
                        <u>Currently applied to category:</u> 
                        {% for cat in categories %}
                            {% if promo == cat.promo %} <a href="{% url 'custom_admin:categories_show' cat.id %}">{{ cat.nom }}</a> &middot; {% endif %}
                        {% endfor %}
                        <div><u>End:</u> {{ promo.date_fin }} </div>
                    </div>
                    <div class="input-group justify-content-end w-50">
                        <a class="optional-btn"
                           href="{% url 'custom_admin:promos_show' promo.id %}"><i class="fa-solid fa-circle-info"></i></a>
                        <a class="optional-btn"
                           href="{% url 'custom_admin:promos_update' promo.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="default-btn"
                           href="{% url 'custom_admin:promos_delete' promo.id %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock admincontent %}
