{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
        <dl>
            <div>
                <dt>Banner image</dt>
                <dd>
                    <img src="{% if member.image_banniere_profil %}{{ member.image_banniere_profil.url }} {% endif %}"
                         alt=""
                         style="max-height: 200px">
                </dd>
            </div>
            <div>
                <dt>Avatar</dt>
                <dd>
                    <img src="{% if member.avatar %}{{ member.avatar.url }} {% endif %}"
                         alt=""
                         class="img-thumbnail"
                         style="max-height: 200px">
                </dd>
            </div>
            <div>
                <dt>Role</dt>
                <dd>
                    {{ member.role }}
                </dd>
            </div>
            <div>
                <dt>First name</dt>
                <dd>
                    {{ member.first_name }}
                </dd>
            </div>
            <div>
                <dt>Last name</dt>
                <dd>
                    {{ member.last_name }}
                </dd>
            </div>
            <div>
                <dt>Email address</dt>
                <dd>
                    {{ member.email }}
                </dd>
            </div>
            <div>
                <dt>Username</dt>
                <dd>
                    {{ member.username }}
                </dd>
            </div>
            <div>
                <dt>Date joined</dt>
                <dd>
                    {{ member.date_joined }}
                </dd>
            </div>
            <div>
                <dt>Last login</dt>
                <dd>
                    {{ member.last_login }}
                </dd>
            </div>
            <div>
                <dt>Subscribed to newsletter</dt>
                <dd>
                    {% if member.abonne_newsletter %}
                        <input type="checkbox" class="form-check-input" checked disabled>
                    {% else %}
                        <input type="checkbox" class="form-check-input" disabled>
                    {% endif %}
                </dd>
            </div>
            <div>
                <dt>Jobs or hobbies</dt>
                <dd>
                    {{ member.metiers_hobbies }}
                </dd>
            </div>
            <div>
                <dt>Bio</dt>
                <dd>
                    {{ member.bio }}
                </dd>
            </div>
        </dl>
    </div>
{% endblock admincontent %}
