{% extends "base_admin.html" %}
{% block admincontent %}
    <div class="col-lg-9 px-5">
<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100 bg-light bg-opacity-50 rounded-lg">
        <div class="container">
            <div class="row">
                    <div class="blog-details-desc">
                        <div class="article-image text-center">
                            <img src="{% if 'https' in blog.image_illustration.url %}{{ blog.image_illustration }}{% else %}{{ blog.image_illustration.url }}{% endif %}" alt="image" class="w-50">
                        </div>
                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <i class='bx bx-folder-open'></i>
                                        <span>Category</span>
                                        <a href="#">{{ blog.categorie.nom }}</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-group'></i>
                                        <span>Comments</span>
                                        <a href="#">{{ nb_commentaires }}</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-calendar'></i>
                                        <span>Last Updated</span>
                                        <a href="#">{{ blog.date_modification|date:"m/d/Y" }}</a>
                                    </li>
                                </ul>
                            </div>
                            <h3>{{ blog.titre }} </h3>
                            <p>{{ blog.texte }} </p>
                        </div>
                        <div class="article-footer">
                            <div class="article-tags">
                                <span><i class='bx bx-purchase-tag'></i></span>
                                {% for tag in tags %}
                                <a href="#">{{ tag.nom }} </a>,
                                {% endfor %}
                            </div>
                        </div>
                        <div class="article-author">
                            <div class="author-profile-header" style="background-image: url({{ blog.user_auteur.image_banniere_profil.url }})"></div>
                            <div class="author-profile">
                                <div class="author-profile-title">
                                    <img src="{{ blog.user_auteur.avatar.url }}" class="shadow-sm" alt="image">
                                    <div class="author-profile-title-details d-flex justify-content-between">
                                        <div class="author-profile-details">
                                            <h4>{{ blog.user_auteur.first_name }} {{ blog.user_auteur.last_name }}</h4>
                                            <span class="d-block">{{ blog.user_auteur.metiers_hobbies }}</span>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ blog.user_auteur.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock admincontent %}