{% load static %}
<!-- Links of JS files -->
    <script src="{% static 'shop/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/parallax.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/rangeSlider.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/nice-select.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/meanmenu.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/slick.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/form-validator.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/contact-form-script.js' %}"></script>
    <script src="{% static 'shop/assets/js/ajaxchimp.min.js' %}"></script>
    <script src="{% static 'shop/assets/js/main.js' %}"></script>