{% load static %}
<!-- Start Sidebar Modal -->
<div class="modal right fade sidebarModal"
id="sidebarModal"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <button type="button"
               class="close"
               data-bs-dismiss="modal"
               aria-label="Close">
           <span aria-hidden="true"><i class='bx bx-x'></i></span>
       </button>
       <div class="modal-body">
           <div class="sidebar-about-content">
               <h3>About The Store</h3>
               <div class="about-the-store">
                   <p>{{ infos.slogan_site }} </p>
                   <ul class="sidebar-contact-info">
                    <li><i class='bx bx-map'></i> <a href="#" target="_blank">{{ infos.adresse }}</a></li>
                    <li><i class='bx bx-phone-call'></i> <a href="tel:{{ infos.telephone }}">{{ infos.telephone }}</a></li>
                    <li><i class='bx bx-envelope'></i> <a href="mailto:{{ infos.email }}">{{ infos.email }}</a></li>
                   </ul>
               </div>
               <ul class="social-link">
                   <li>
                       <a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a>
                   </li>
                   <li>
                       <a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a>
                   </li>
                   <li>
                       <a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a>
                   </li>
                   <li>
                       <a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a>
                   </li>
                   <li>
                       <a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                   </li>
               </ul>
           </div>
           <div class="sidebar-new-in-store">
               <h3>New In Store</h3>
               <ul class="products-list">
                {% for product in recent_products_sidebar %}
                <li>
                    <a href="{% url 'product' product.id %}">
                        <img src="{% if 'https' in product.image_1.url %}{{ product.image_1 }}{% else %}{{ product.image_1.url }}{% endif %}" alt="image">
                    </a>
                </li>
                {% endfor %}
               </ul>
               
               <a href="{% url 'all_products' %}" class="shop-now-btn">Shop Now</a>
           </div>
       </div>
   </div>
</div>
</div>
<!-- End Sidebar Modal -->