{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'admin_home' %}>
      <img src="{% static 'shop/assets/img/logo.png' %}" alt="" class="me-3">
      <i class="fa-solid fa-screwdriver-wrench me-1"></i>
      Admin Dashboard
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-between w-100 text-center">
        <div class="d-lg-flex gap-4 "></div>
        <div class="unsign">
          <li class="nav-item">
            <a class="nav-link" href={% url 'home' %}><i class="fa-solid fa-circle-xmark"></i></i> Back to the site</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
