{% extends "base_admin.html" %}
{% load static %}
{% block admincontent %}
    <div class="col-lg-9 text-center px-5">
        <img src="{% static 'shop/assets/img/logo-big.png' %}" alt="">
        <h1 class="display-5 fw-bold mt-5"><i class="fa-solid fa-screwdriver-wrench"></i> Admin dashboard</h1>
        <p class="lead mb-4">
            Welcome to our admin panel! Here you can easily update the content of our site. Take advantage of a user-friendly interface to enter essential details such as titles, descriptions and associated images. Stay in full control of your content with just a few clicks.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
{% endblock admincontent %}
