{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  {% block head %}{% endblock head %}
</head>

<body>
  {% include "shop/components/messages.html" %}
  {% include "shop/components/header.html" %}
  {% include "shop/components/navbar.html" %}
  {% include "shop/components/wishlist.html" %}
  {% include "shop/components/cart_modal.html" %}
  {% include "shop/components/sidebar.html" %}
  {% block content %}{% endblock content %}
  {% include "shop/components/footer.html" %}
  {% include "shop/components/scripts_js.html" %}
</body>

</html>
